body {
    background-color: #E5E4DB !important
}

.all-chapter {
    margin-bottom: 50px;
}

.bdsub > dl > dt, .all_ad, li.volume, #list > .notice, .cover, #new_chapter, .con_top, #sidebar, #fmimg, .tjlist, #listtj, #intro > p:last-child, #intro, .star_title, .starlist {
    display: none !important;
}

#maininfo, .bdsub dd h1 {
    background: #F6F4EC;
    border-radius: 15px;
    margin-top: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 25px;
}

.bdsub dd h1 {
    text-align: center;
    padding-top: 20px;
}

#info > h1 {
    text-align: center;
    padding-top: 20px;
    color: rgba(50, 68, 84, 0.61);
}

#info p {
    float: left;
    margin-top: 25px;
    width: 25%;
    margin-left: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#intro > p {*/
/*display: block;*/
/*float: right;*/
/*margin-left: 6%;*/
/*margin-top: 20px;*/
/*overflow: auto;*/
/*}*/

/*#intro {*/
/*display: block;*/
/*float: right;*/
/*width: 90%;*/
/*padding-bottom: 20px;*/
/*color: #7b7b61;*/
/*}*/

.ml_main > dl, #list dl, #chapter_list, .chapterlist, tbody, .mt10, .catalog, #readerlists {
    float: left;
    overflow: hidden;
    padding-bottom: 1px;
    margin: auto;
    background: #F6F4EC;
    border-radius: 15px;
}

#list {
    margin-top: 35px;
}

.bdsub tr th, #readerlists > ul > h3, #cl_content > dl > dt, #list dt, .panel > h2, .TabCss dt, .chapterlist > dt, .vcss, .chapter_list_chapter_title, .mt10 > .title > h2 {
    background: none repeat scroll 0 0 rgba(214, 212, 200, 0.89);
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: auto auto 5px;
    padding: 5px 10px;
}

.L, .ml_main > dl > dd, #readerlists > ul > li, .catalog > ul > li, .article_texttitleb > ul > li, #cl_content > dl > dd, #list dd, .panel li, .chapterlist > dd, td.ccss, .chapter_list_chapter, .book_list > ul > li {
    border-bottom: 1px dashed #CCC;
    display: inline;
    float: left;
    height: 25px;
    line-height: 200%;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    vertical-align: middle;
    width: 26%;
    margin-left: 5% !important;
}

.TabCss dd.col4 {
    float: right;
    margin-right: 4px;
}

.TabCss dd {
    width: 228px !important;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-indent: 10px;
    font-size: 12px;
    background: #E7F4F4;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    display: inline;
    border: 1px solid #9FBFE2;
    overflow: hidden;
}

dd > a {
    cursor: pointer;
}

.panel {
    margin-bottom: 20px;
    background-color: #E5E4DB !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

tr > td.ccss, .L {
    width: 19% !important;
}

.bdsub dd h3, .bdsub .tags, .bdsub .tips {
    display: none !important;
}


