body {
    background: url(../img/read_bg.png) #ede7da !important;
    color: #333 !important;
    font-family: "Microsoft YaHei" !important;
}

.navbar {
    background: rgb(242, 238, 230) !important;
}

.search {
    width: 200px;
    height: 50px;
}

.nav-search {
    background: rgba(242, 238, 230, 0.58) !important;
}

.search input {
    font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 13px;
    right: 40px;
    width: 175px;
    height: 26px;
    transition: border .5s;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: 0 0;
    -moz-transition: border .5s; /* Firefox 4 */
    -webkit-transition: border .5s; /* Safari and Chrome */
    -o-transition: border .5s;

}

.search input:focus {
    top: 15px;
    border-bottom: 3px solid #7a776e;
}

.all-content {
    width: 70% !important;
    box-shadow: 0 0 15px 0 #CCC;
    background: #F6F4EC;
    margin: 0 auto 30px;
    border-radius: 3px;
    padding-bottom: 10px;
    min-height: 600px;
    margin-bottom: 70px;
    border: 1px solid #d8d8d8;
    background: url(../img/read_content.png) !important;
}

.title {
    position: relative;
}

.title > a.bookMark {
    position: absolute;
    background: url(../img/bookMark.png) no-repeat;
    width: 20px;
    height: 36px;
    right: 30px;
    top: -30px;
    cursor: pointer;
}

.title > a.bookMarkAct {
    position: absolute;
    background: url(../img/bookMark.png) no-repeat -20px 0;
    width: 22px;
    height: 39px;
    right: 30px;
    top: -30px;
    cursor: pointer;
}

.title > h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.show-content {
    width: 90%;
    line-height: 1.8;
    font-size: 16px !important;
    padding-top: 16px;
    min-height: 360px;
    margin-left: 5%;
    word-break: break-all;
    font-family: "Microsoft YaHei";
    text-align: left;
}

.show-content > p {
    font-size: 16px !important;
}

.show-content > #content {
    text-align: left !important;
}

.move {
    right: 5% !important;
}

/*原网页上一章下一章等隐藏*/

.chapter h1, .content > center, .content p > strong, .content p > a {
    display: none !important;
}