.navbar {
    border-radius: 0 !important;
    min-height: 65px !important;
}

.result {
    margin-right: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 6%;
    margin-bottom: 60px;
}

.result > p {
    padding-left: 4%;
}

.form-control {
    width: 90% !important;
    height: 35px !important;
    line-height: 35px !important;
    margin-top: 15px;
    margin-left: 4%;
    border-radius: 0 !important;
}

div.item > li {
    margin-top: 15px;
}

div.item > li > a {
    color: #38556A;
    font-size: 16px;
}

.netloc {
    display: block;
    color: #006621;
}

.result_item {
    width: 35em;
    height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5%;
    font-size: 15px;
}

.tags {
    position: relative;
    margin-top: 5px;
}

.label {
    padding: 0.3em .6em .3em !important;
    position: absolute;
    right: 10px;
}