body {
    background-color: #E5E4DB !important
}

.all-chapter {
    margin-bottom: 50px;
}

.booklist .vt, #bookname, #ad01, .shucansu, .samewriter, .bd > span, .bdsub > dl > dt, .all_ad, li.volume, #list > .notice, .cover, #new_chapter, .con_top, #sidebar, #fmimg, .tjlist, #listtj, #intro > p:last-child, #intro, .star_title, .starlist {
    display: none !important;
}

.readout h1, #maininfo, .bdsub dd h1 {
    background: #F6F4EC;
    border-radius: 15px;
    margin-top: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 25px;
}

.readout h1 {
    text-align: center;
    line-height: 60px;
    height: 60px;
}

.bdsub dd h1 {
    text-align: center;
    padding-top: 20px;
}

#info h1 {
    text-align: center;
    padding-top: 20px;
    color: rgba(50, 68, 84, 0.61);
}

#info p {
    float: left;
    margin-top: 25px;
    width: 25%;
    margin-left: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#intro > p {*/
/*display: block;*/
/*float: right;*/
/*margin-left: 6%;*/
/*margin-top: 20px;*/
/*overflow: auto;*/
/*}*/

/*#intro {*/
/*display: block;*/
/*float: right;*/
/*width: 90%;*/
/*padding-bottom: 20px;*/
/*color: #7b7b61;*/
/*}*/

/* 区域1 */
.centent, #chapterlist, .booklist, .box, #at, table.border, .zjlist, .mulu_list, .acss, .list, #xslist ul, .dirlist, .list-chapter, .list_box ul, #defaulthtml4 table, .article-list > dl, .update, #list .box, .bookcontent > dl, .listmain > dl, .ml_main > dl, #list dl, #chapter_list, .chapterlist, .mt10, .catalog, #readerlists, .readout table {
    overflow: hidden;
    padding-bottom: 1px;
    margin: auto;
    background: #F6F4EC;
    margin-top: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
}

table.border, .mulu_list, #list, .article-list {
    margin-top: 35px;
}

/* 区域2 */
.centent .list, .booklist .v, table.border .M, .zjlist dt, td.tcss, .acss .vcss, .list .tit, #xslist ul span, .article-list > dl > dt, .update .hd > #list .box-head, .bookcontent dt, .listmain dt, .bdsub tr th, #readerlists > ul > h3, #cl_content > dl > dt, #list dt, .panel > h2, .TabCss dt, .chapterlist > dt, .vcss, .chapter_list_chapter_title, .mt10 > .title > h2 {
    background: none repeat scroll 0 0 rgba(214, 212, 200, 0.89);
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: auto auto 5px;
    padding: 5px 10px;
}

/* 区域3 */
.centent li, #chapterlist li, .booklist span, .box .zjlist4 li, .chapterlist li, #at td, .readout td, .zjlist dd, .mulu_list > li, .acss .ccss, .list .zl, #xslist ul li, .dirlist li, .list-chapter > li, .list_box ul li, #defaulthtml4 table .dccss, .article-list > dl > dd, .update .bd, #list td.swbt, .bookcontent dd, .listmain dd, .L, .ml_main > dl > dd, #readerlists > ul > li, .catalog > ul > li, .article_texttitleb > ul > li, #cl_content > dl > dd, #list dd, .panel li, .chapterlist > dd, td.ccss, .chapter_list_chapter, .book_list > ul > li {
    border-bottom: 1px dashed #CCC;
    display: inline;
    float: left;
    height: 25px;
    line-height: 200%;
    margin-bottom: 5px;
    text-align: left;
    text-indent: 10px;
    vertical-align: middle;
    width: 26%;
    margin-left: 5% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TabCss dd.col4 {
    float: right;
    margin-right: 4px;
}

.TabCss dd {
    width: 228px !important;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-indent: 10px;
    font-size: 12px;
    background: #E7F4F4;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    display: inline;
    border: 1px solid #9FBFE2;
    overflow: hidden;
}

dd > a {
    cursor: pointer;
}

.panel {
    margin-bottom: 20px;
    background-color: #E5E4DB !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

tr > td.ccss, .L {
    width: 19% !important;
}

.notice, .zuixin10, .update h2, .bdsub dd h3, .bdsub .tags, .bdsub .tips {
    display: none !important;
}

.book_list > ul > li {
    width: 20% !important;
    float: right !important;
}

#defaulthtml4 table .dccss {
    width: 100% !important;
}


