aioredis==0.3.3
aiocache==0.3.2
aiohttp
arrow
async_timeout
asyncio-redis>=0.14.3
bs4
cchardet
gunicorn
html5lib
Jinja2>=2.9.5
motor>=1.1
numpy
requests
sanic>=0.5.1
sanic-session>=0.1.2
schedule
talospider
tornado
uvloop
