aiohttp
async_timeout
uvloop
bs4
tornado
sanic>=0.5.1
Jinja2>=2.9.5
arrow
html5lib
sanic-session>=0.1.2
asyncio-redis>=0.14.3
aiocache==0.3.2
motor>=1.1
schedule
gunicorn
cchardet
requests
talonspider>=0.0.5
numpy