<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="owllook - 免费小说 - 免费小说阅读 - 免费无广告小说阅读 - 免费小说搜索 - 免费全本小说 - 无广告 - 免费小说 - 小说搜索引擎"/>
    <meta name="description"
          content="owllook - 小说阅读 - 小说搜索引擎 - 免费小说 - owllook只提供检索服务 - 给你最好的搜索服务 - 最清新简洁的阅读体验 - 无广告 - 页面清爽 - 免费全本小说"/>
    <meta name="copyright" Content="本页版权归owllook.net所有 All Rights Reserved">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/novels/img/favicon.ico"/>
    <link rel="bookmark" href="/static/novels/img/favicon.ico"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/css/mdui.min.css" rel="stylesheet">
    <!--<link href="/md/static/md/css/mdui.min0.2.1.css" rel="stylesheet">-->
    <meta name="msvalidate.01" content="7F5A4F41F59B7840336A1530F6D3474E"/>
    {% block header %}{% endblock %}
    <meta name="baidu-site-verification" content="j5gv2S1IaS"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d9af2fd1fd46f5278efda5231ad3a8cb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        #cnzz_stat_icon_1262602051 {
            display: none;
        }
    </style>

</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
{% block content %}{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/js/mdui.min.js"></script>
<script src="/md/static/md/js/index.js"></script>
<script src="/md/static/md/js/theme.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1262602051'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1262602051%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
{% block script %}{% endblock %}
</body>
</html>