{% extends "main.html" %}

{% block header %}
<title>{{ title }} - 小说排行榜</title>
<link rel="stylesheet" href="/md/static/md/css/md.css">
{% endblock %}

{% block content %}
<body class="mdui-appbar-with-toolbar">

<div class="mdui-drawer mdui-drawer-close" id="drawer">
    <ul class="mdui-list">
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">library_books</i>
            <div class="mdui-list-item-content"><a href="/md/books">我的书架</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons">directions_run</i>
            <div class="mdui-list-item-content"><a href="/md/similar_user">书友推荐</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
            <div class="mdui-list-item-content"><a href="/md/bookmarks">我的书签</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i>
            <div class="mdui-list-item-content">我的书单</div>
        </li>
        <li class="mdui-subheader">设置</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
            <div class="mdui-list-item-content">个人设置</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">security</i>
            <div class="mdui-list-item-content">修改密码</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">feedback</i>
            <div class="mdui-list-item-content">我要反馈</div>
        </li>
    </ul>
</div>

<div class="mdui-drawer-body-left mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-indigo-400">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" id="toggle"><i
                class="mdui-icon material-icons">menu</i></a>
        <a href="/" class="mdui-typo-headline">owllook</a>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon" mdui-tooltip="{content: '输入小说名'}"><i
                    class="mdui-icon material-icons">search</i>
            </button>
            <form action="/search" method="get">

                <input class="mdui-textfield-input" type="text" name="wd" placeholder="小说名"/>
            </form>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i
                    class="mdui-icon material-icons">close</i>
            </button>
        </div>
        <a href="https://github.com/howie6879/owllook" target="_blank"
           class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: '开源'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
        </a>
    </div>
</div>

<div class="mdui-container-fluid">
    <div class="mdui-table-fluid">
        {% if is_similar %}
        <table class="mdui-table mdui-table-hoverable" style="margin-bottom: 50px;">
            <thead>
            <tr align="center">
                <th>相似用户</th>
                <th>相似度</th>
            </tr>
            </thead>
            <tbody>
            {% for v in similar_user%}
            {% for key in v %}
            <tr>
                <td>
                    <a href="/admin/search_user?ss={{key|replace('&#183;','.')}}" target="_blank">{{key|replace('&#183;','.')}}</a>
                </td>
                <td>
                    <a href="#">{{v[key]}}</a>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <center>暂无相似书友</center>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/md/static/md/js/index.js"></script>
{% endblock %}