{% extends "main.html" %}

{% block header %}
<title>{{ title }}</title>
<link rel="stylesheet" href="static/novels/css/result.css">
<style>
    td, th {
        text-align: center !important;
    }
</style>
{% endblock %}

{% block content %}
{% include "search_bar.html" %}
<div class="container">
    {% if is_bookmark %}
    <table class="table table-striped table-hover" style="margin-bottom: 50px;">
        <thead>
        <tr align="center">
            <th>小说名</th>
            <th>源目录</th>
            <th>最新章节</th>
            <th>上次阅读</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {%for item in result%}
        <tr>
            <td><a href="/search?wd={{item.novels_name}}" target="_blank">{{item.novels_name}}</a></td>
            <td>
                <a href="{{item.book_url}}" target="_blank">查看{{item.novels_name}}源目录</a>
            </td>
            <td>
                <a href="{{item.owllook_content_url}}" target="_blank">{{item.latest_chapter_name}}</a>
            </td>
            <td>
                <a href="{{item.last_read_url}}" target="_blank">{{item.last_read_chapter_name}}</a>
            </td>
            <td class="del-book">
                <a class="book_url" data-value="{{item.book_url}}" href="javascript:;">删除</a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {% else %}
    <center>书架暂无数据</center>
    {% endif %}
    {% include "lcxs_show.html" %}

</div>
{% endblock %}
{% block script %}
<script src="static/novels/js/books.js"></script>
{% endblock %}