{% extends "main.html" %}

{% block header %}
<title>{{ novels_name }} - owllook</title>
<link rel="stylesheet" href="static/novels/css/chapter.css">
{% endblock %}

{% block content %}

<div class="alert alert-warning center-block">
    <p class="close" data-dismiss="alert">
        &times;
    </p>
    <p style="text-align: center">
        <strong>注意！</strong>页面内容来自<a target="_blank" href="{{url}}">{{url}}</a>，本站不储存任何内容，为了更好的阅读体验进行在线解析，若有广告出现，请及时反馈。若您觉得侵犯了您的利益，请通知我们进行删除，然后访问
        <a href="{{url}}">原网页</a>
    </p>
</div>

<div class="container all-chapter">
    <input id="content_url" type="hidden" value="{{content_url}}">
    <input id="url" type="hidden" value="{{url}}">
    <input id="novels_name" type="hidden" value="{{novels_name}}">
    {% for item in soup -%}
    {{item|safe}}
    {%- endfor %}
    <div class="move">
        <div class="move_up">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </div>
        <div class="move_down">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </div>
    </div>
    <!--{% include "comment.html" %}-->
</div>
{% endblock %}
{% block script %}
<script src="static/novels/js/list.js"></script>
{% endblock %}


