{% extends "main.html" %}

{% block header %}
<title>donate - owllook</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="donate">
        <p>如果觉得<a href="https://www.owllook.net/">owllook</a>对您有帮助，那么您可以给开发者一些支持，右下角可加微信群一起交流：</p>
        <ul>
            <li>服务器的费用也是一笔开销，网站需要存活</li>
            <li>为用户提供更好的搜索环境</li>
            <li>一杯咖啡</li>
        </ul>
        <p>请扫一扫微信支付（留言希望你带上自己的名字^_^）：</p>
        <p><img class="img-responsive" src='http://oe7yjec8x.bkt.clouddn.com/howie/2017-01-25-wx.png' width="300px"
                height="300px" alt=''/></p>
        <p>有兴趣可关注公众号：粮草小说</p>
        <p><img class="img-responsive" src='http://oe7yjec8x.bkt.clouddn.com/howie/2018-03-13-%E7%B2%AE%E8%8D%89%E5%B0%8F%E8%AF%B4.jpg-blog.howie' width="300px"
                height="300px" alt=''/></p>
    </div>
    <div class="donate_lists">
        <p><strong>捐赠名单（按照时间排序）：</strong></p>
        <br>
        <ul>
            <li>12hStudy: 5 元</li>
            <li>佚名：5元</li>
            <li>佚名：50元</li>
            <li>路人甲、：100元</li>
            <li>盛阿德：20元</li>
            <li>shine：50元</li>
            <li>江黑龙：10元</li>
            <li>Future：100元</li>
            <li>Mongol Hun：20元</li>
            <li>佚名：15元</li>
            <li>人到中年：100元</li>
            <li>Black：6元</li>
            <li>滑稽：5元</li>
            <li>w.：20元</li>
            <li>包子.：6.6元</li>
            <li>佚名：200元</li>
            <li>佚名：20元</li>
            <li>lfl44135：5元</li>
            <li>佚名：5元</li>
            <li>ray：68元</li>
            <li>起个名字真难：15元</li>
            <li>佚名：10元</li>
            <li>乌鸦还是黑的好：10元</li>
            <li>极其优秀：6元</li>
            <li>键盘侠：20元</li>
            <li>佚名：12元</li>
            <li>过客：5元</li>
            <li>周洲：10元</li>
            <li>佚名：6元</li>
            <li>non-secure：26.66元</li>
        </ul>
    </div>
</div>
{% endblock %}