<div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="message">
            <div class="left">
                <span>
                    <a href="https://www.owllook.net/"><strong>群：591460519</strong></a>
                </span>
            </div>
            <div class="right">
                <span>
                    <!--<a target="_blank" href="/owllook_feedback">反馈</a>-->
                    <a target="_blank" href="/owllook_donate"><strong>捐赠</strong></a>
                    <a target="_blank" href="/md"><strong>实验室</strong></a>
                    <a data-container="body" data-toggle="popover"
                       data-placement="top"
                       data-content="本站是一个开源小说搜索引擎，提供且仅提供第三方搜索引擎提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。">免责声明</a>
                    <!--<a target="_blank" href="https://github.com/howie6879/owllook">github</a>-->
                </span>
            </div>
        </div>
    </nav>
</div>