<div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="message">
            <div class="left">
                <span>
                    <a id="lcxs" class="lcxs-button" data-toggle="popover" data-placement="top"><strong style="color: red;">关注公众号</strong></a>
                    <a target="_blank" href="/md/qidian"><strong>排行榜</strong></a>
                </span>
            </div>
            <div class="right">
                <span>
                    <!--<a target="_blank" href="/owllook_feedback">反馈</a>-->
                    <a target="_blank" href="/owllook_donate"><strong>捐赠</strong></a>
                    <a id="wechart" class="we-button" data-toggle="popover" data-placement="top"><strong>交流群</strong></a>
                    <a data-container="body" data-toggle="popover"
                       data-placement="top"
                       data-content="本站是一个开源小说搜索引擎，提供且仅提供第三方搜索引擎提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。"><strong>免责声明</strong></a>
                </span>
            </div>
        </div>
    </nav>
</div>