<li class="dropdown pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{user}}
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li style="margin-top: 5px;">
            <a href="/admin/bookmarks">
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <span class="personal-basic">我的书签</span>
            </a>
        </li>
        <li>
            <a href="/admin/books">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <span class="personal-basic">我的书架</span>
            </a>
        </li>
        <li>
            <a href="/admin/similar_user">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="personal-basic">书友推荐</span>
            </a>
        </li>
        <li>
            <a href="/admin/lcxs">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span class="personal-basic">粮草小说</span>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="">-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
                <!--<span class="personal-basic">我的书单</span>-->
            <!--</a>-->
            <!--<li>-->
            <!--<a href="">-->
            <!--<span class="glyphicon glyphicon-home" aria-hidden="true"></span>-->
            <!--<span class="personal-basic">个人中心</span>-->
            <!--</a>-->
            <!--</li>-->
        <li role="separator" class="divider"></li>
        <li>
            <a id="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span class="personal-basic">退出登录</span>
            </a>
        </li>
    </ul>
</li>