<nav class="navbar navbar-default">
    <div class="container-fluid center-block result-header">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Owllook" width="120px" height="40px" src="static/novels/img/logo_search.png">
            </a>
        </div>
        <form action="/search" method="get">
            <div class="col-sm-6 col-xs-9 search">
                <input type="text" name="wd" class="form-control" placeholder="请输入小说名" value="{{name}}">
            </div>
        </form>
        {% if is_login %}
        <div class="header">
            {% include "login.html" %}
        </div>
        {% else %}
        <div class="login">
            <a class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#login">登录</a>
        </div>
        {% endif %}
    </div>
</nav>