body {
    background: url(../img/read_bg.png) #ede7da !important;
    color: #333 !important;
    font-family: "Microsoft YaHei" !important;
}

.navbar {
    background: rgb(242, 238, 230) !important;
}

.search {
    width: 200px;
    height: 50px;
}

.nav-search {
    background: rgba(242, 238, 230, 0.58) !important;
}

.search input {
    font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 40px;
    width: 175px;
    height: 26px;
    transition: border .5s;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: 0 0;
    -moz-transition: border .5s; /* Firefox 4 */
    -webkit-transition: border .5s; /* Safari and Chrome */
    -o-transition: border .5s;

}

.login > a {
    margin-top: 8px;
}

.btn-login {
    border: 1px solid #d8d8d8 !important;
    color: #b3acac;
    background-color: #5c6165;
}

.btn-login:hover, .btn-login:focus {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.search input:focus {
    top: 15px;
    border-bottom: 3px solid #E67676;
}

.all-content {
    width: 65% !important;
    box-shadow: 0 0 15px 0 #CCC;
    background: #F6F4EC;
    margin: 0 auto 30px;
    border-radius: 3px;
    padding-bottom: 10px;
    min-height: 600px;
    margin-bottom: 70px;
    border: 1px solid #d8d8d8;
    background: url(../img/read_content.png) !important;
}

.title {
    position: relative;
}

.title > a.bookMark {
    position: absolute;
    background: url(../img/bookMark.png) no-repeat;
    width: 20px;
    height: 36px;
    right: 30px;
    top: -30px;
    cursor: pointer;
}

.title > a.bookMarkAct {
    position: absolute;
    background: url(../img/bookMark.png) no-repeat -20px 0;
    width: 22px;
    height: 39px;
    right: 30px;
    top: -30px;
    cursor: pointer;
}

.title > h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.show-content, pre {
    width: 90%;
    line-height: 1.8;
    font-size: 16px !important;
    padding-top: 16px;
    min-height: 360px;
    margin-left: 5%;
    word-break: break-all;
    font-family: "Microsoft YaHei";
    text-align: left;
    position: relative;
}

pre {
    border: none !important;
    background: none !important;
}

.left-bar-list {
    width: 60px;
    position: fixed;
    left: 12%;
}

.left-bar-list .left-bar-flag {
    position: relative;
    z-index: 100;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    background: url("../img/left_bar_flag.png")
}

.left-bar-list .left-bar-flag .glyphicon {
    font-size: 18px;
}

.left-bar-list .left-bar-flag a {
    font: 12px/16px PingFangSC-Regular, '-apple-system', Simsun;
    display: block;
    width: 58px;
    height: 58px;
    transition: none;
    text-align: center;
    padding-top: 12px;
    color: #999;
    text-decoration: none;
    color: rgba(0, 0, 0, .4)
}

.left-bar-list .left-bar-flag a:hover, .add-color {
    color: #E67676 !important;
}

.show-content > p {
    font-size: 16px !important;
}

.show-content > #content {
    text-align: left !important;
}

.pre_next {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pre_next > a:first-child {
    margin-right: 40%;
}

.pre_next > a {
    cursor: pointer;
    border: 1px solid rgba(90, 76, 76, 0.1);
    color: #555;
    background: rgba(0, 0, 0, .0001);
}

.pre_next > a:hover {
    border: 1px solid rgba(90, 76, 76, 0.1);
    color: #E67676;
    background: rgba(0, 0, 0, .0001);
}

.move {
    right: 5% !important;
}

/*原网页上一章下一章等隐藏*/

.mingzhuPage, #htmlContent img, .chapter_Turnpage, #pageselect, .biao-qian-love-bd, #toplink, #tuijian, .chapter_Turnpage a, .bottem, .chapter h1, .content > center, .content p > strong, .content p > a {
    display: none !important;
}

@media (max-width: 1024px) {
    .left-bar-list, #cloud-tie-wrapper {
        display: none !important;
    }

    .all-content {
        width: 96% !important;
    }

    .move {
        display: none;
    }

    .search input {
        right: 0 !important;
        left: 0 !important;
    }

    .login > a {
        margin-top: 10px !important;
    }

    .title > h2 {
        font-size: 20px;
    }
}