{% extends "main.html" %}

{% block header %}
<title>{{ title }}</title>
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content %}

<div class="header">
    {% if is_login %}
    {% include "login.html" %}
    {% else %}
    <div class="login">
        <a class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#login">登录</a>
    </div>
    {% endif %}
</div>
<div class="container">
    <form action="/search" method="get">
        <div class="col-xs-6 search">
            <input type="text" name="wd" class="form-control">
            <input class="btn btn-default" type="submit" value="Owl Search">
        </div>
    </form>
</div>
{% endblock %}
