{% extends "main.html" %}

{% block header %}
<title>{{ title }} - 最简洁清新的搜索阅读体验</title>
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content %}

<div class="header">
    {% if is_login %}
    {% include "login.html" %}
    {% else %}
    <div class="login">
        <a class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#login">登录</a>
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="logo">
        <img class="center-block" src="static/img/logo_home.png" alt="owllook">
    </div>
    <form action="/search" method="get" class="home_search center-block">
        <div class="search center-block">
            <input type="text" name="wd" class="form-control center-block">
            <input class="btn btn-default" type="submit" value="Owl Search">
        </div>
    </form>
</div>
{% endblock %}
