<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="owllook_user" class="col-xs-3 col-sm-2 control-label">用户:</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="email" class="form-control" id="owllook_user" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="owllook_pass" class="col-xs-3 col-sm-2 control-label">密码:</label>
                        <div class="col-xs-9 col-sm-10">
                            <input type="password" class="form-control" id="owllook_pass" placeholder="密码">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="/register"><button type="button" class="btn btn-default pull-left">注册</button></a>
                <button type="submit" class="btn btn-primary" id="owllook_login">登录</button>
            </div>
        </div>
    </div>
</div>