<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="bookmark" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/main.css">
    {% block header %}{% endblock %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block content %}{% endblock %}

<div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="message">
            <div class="right">
                <span>
                    <a target="_blank" href="/owllook_feedback">反馈</a>
                    <a target="_blank" href="/owllook_donate">捐赠</a>
                    <a data-container="body" data-toggle="popover"
                       data-placement="top"
                       data-content="本站是一个小说搜索引擎，提供且仅提供百度搜索提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。">免责声明</a>
                    <a target="_blank" href="/owllook_about">关于</a>
                </span>
            </div>
        </div>
    </nav>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="owllook_user" class="col-sm-2 control-label">用户:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="owllook_user" placeholder="用户名/邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="owllook_pass" class="col-sm-2 control-label">密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="owllook_pass" placeholder="密码">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left">注册</button>
                <button type="submit" class="btn btn-primary" id="owllook_login">登录</button>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="static/js/main.js"></script>
{% block script %}{% endblock %}
</body>
</html>