{% extends "main.html" %}

{% block header %}
<title>{{ name }} - owllook</title>
<link rel="stylesheet" href="static/css/chapter.css">
{% endblock %}

{% block content %}

<div class="container all-chapter">
    <input id="content_url" type="hidden" value="{{content_url}}">
    <input id="url" type="hidden" value="{{url}}">
    {% for item in soup -%}
    {{item|safe}}
    {%- endfor %}
    <div class="move">
        <div class="move_up">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </div>
        <div class="move_down">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="static/js/list.js"></script>
{% endblock %}


