{% extends "main.html" %}

{% block header %}
<title>{{ name }} - 目录</title>
<link rel="stylesheet" href="static/css/list.css">
{% endblock %}

{% block content %}

<div class="container list">
    {% for item in soup -%}
    {{item|safe}}
    {%- endfor %}

</div>

<div class="footer">
    <nav class="navbar navbar-default">
        <div class="message">
            <div class="right">
                <span>
                    <a target="_blank" href="/feedback">反馈</a>
                    <a target="_blank" href="/donate">捐赠</a>
                    <a data-container="body" data-toggle="popover"
                       data-placement="top"
                       data-content="本站是一个小说搜索引擎，提供且仅提供百度搜索提供的小说检索结果。本站只负责展示搜索结果，展示内容与本站无关。">免责声明</a>
                    <a target="_blank" href="/about">关于</a>
                </span>
            </div>
        </div>
    </nav>
</div>
{% endblock %}